<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>cc.stackli.zap</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>723E01A5-DDD3-4FEA-A9B7-A614B522491C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>99295EDC-5137-49D9-AE0E-42C711D7A1D6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CC1DF1FB-2C26-42CD-97C3-BAC9C52E1F9C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>99295EDC-5137-49D9-AE0E-42C711D7A1D6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>07F0AE69-9540-44F9-82C5-A9C1AA1E92B7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>magaxio</string>
	<key>description</key>
	<string>Zap your bookmarks. Instant access, zero friction.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>zap</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Zap notify</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>07F0AE69-9540-44F9-82C5-A9C1AA1E92B7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/python3 "$PWD/action.py" "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>99295EDC-5137-49D9-AE0E-42C711D7A1D6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>zap</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading bookmarks…</string>
				<key>script</key>
				<string>/usr/bin/python3 "$PWD/zap.py" --script-filter "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Route query to search/edit/del/web</string>
				<key>title</key>
				<string>zap</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>723E01A5-DDD3-4FEA-A9B7-A614B522491C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>CC1DF1FB-2C26-42CD-97C3-BAC9C52E1F9C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>__ZAP_README__</string>
	<key>uidata</key>
	<dict>
		<key>07F0AE69-9540-44F9-82C5-A9C1AA1E92B7</key>
		<dict>
			<key>xpos</key>
			<real>665.0</real>
			<key>ypos</key>
			<real>195.0</real>
		</dict>
		<key>723E01A5-DDD3-4FEA-A9B7-A614B522491C</key>
		<dict>
			<key>xpos</key>
			<real>30.0</real>
			<key>ypos</key>
			<real>265.0</real>
		</dict>
		<key>99295EDC-5137-49D9-AE0E-42C711D7A1D6</key>
		<dict>
			<key>xpos</key>
			<real>460.0</real>
			<key>ypos</key>
			<real>195.0</real>
		</dict>
		<key>CC1DF1FB-2C26-42CD-97C3-BAC9C52E1F9C</key>
		<dict>
			<key>xpos</key>
			<real>460.0</real>
			<key>ypos</key>
			<real>375.0</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variables</key>
	<dict>
		<key>DATA_PATH</key>
		<string>~/.config/alfred/zap.json</string>
		<key>WEB_PORT</key>
		<string>14535</string>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.1.14</string>
	<key>webaddress</key>
	<string>https://stackli.cc</string>
</dict>
</plist>
